<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Urban Rivals - the massively multiplayer collectible card game</title>

    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="P3Pv1" href="/w3c/p3p.xml"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="theme-color" content="#ffffff">
    <meta name="description" CONTENT="Urban Rivals is a free, multiplayer, collectible card game with hundreds of characters to discover, collect and evolve in order to challenge players live from all over the world!"/>
    <meta name="verify-v1" content="2ZTFUuYFkk8OoFH/3VXLj5byZtbGUJq96LX/Te4pMhE="/>
    <meta name="google-site-verification" content="HElKmWk7LG5oLE_MQW4mD5pso5wjYTxacTMRa8dcwNg"/>
    <meta name="apple-itunes-app" content="app-id=329963928"/>
    <meta name="Keywords" CONTENT="collectible card game, trading card game, online card game, multiplayer card game, free online multiplayer game, free collectible card game, free trading card game, free tcg, online tcg, free ccg, online ccg"/>

    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <meta property="og:title" content="Urban Rivals - the massively multiplayer collectible card game" />
    <meta property="og:description" content="Urban Rivals is a free, multiplayer, collectible card game with hundreds of characters to discover, collect and evolve in order to challenge players live from all over the world!" />
    <meta property="og:type" content="game" />
    <meta property="og:url" content="https://www.urban-rivals.com/signup/?facebook_redirect=1" />
    <meta property="og:image" content="https://s.acdn.ur-img.com/img/v3/home/logo-urban.png" />
    <meta property="fb:app_id" content="148733625740" />


    <link href="https://s.acdn.ur-img.com/min/css/main.min.css?v=1688543225" rel="stylesheet" type="text/css"/>
<style class="hover"></style><script src="https://s.acdn.ur-img.com/min/js/script.min.js?v=1688543225" type="text/javascript"></script><script>
            if (window.webkit) $$.shared.method = "normal";
            var staticsHost = "https://s.acdn.ur-img.com";
            var isNight = 1;
            var CSRFToken = "258b199fcffa75b4819eec1d407a49528600ece39159313ef52fcc96cbb32ec3";
            var isUserBrowsingFromApp = false;
        
            var playerIsLogged = false;
            var gameWindowMode = "normal";
            var gameVersion = "standard";
            var disableClintzOnCard = true;
            
        </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6GDT8ZF5P9"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag("js", new Date());
            
              gtag("config", "G-6GDT8ZF5P9");
              gtag("config", "AW-943759199");
            </script></head>

<body style="background-image: url('https://s.acdn.ur-img.com/img/v3/client/webgl/bg-webgl.jpg');">

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="wrapper">
<link href="https://s.acdn.ur-img.com/min/css/pages/landingv4.min.css?v=1686920062" rel="stylesheet" type="text/css"/>

<div class="modal fade gameplay-trailer-modal" tabindex="-1" role="dialog" aria-labelledby="gameplay-trailer-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content p-0">
            <iframe src="https://www.youtube.com/embed/FcgYLXXpouQ" style="width: 100%; aspect-ratio: 16 / 9;"></iframe>
        </div>
    </div>
</div>

<div class="modal fade anime-trailer-modal" tabindex="-1" role="dialog" aria-labelledby="anime-trailer-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content p-0">
            <iframe src="https://www.youtube.com/embed/W36Q1H4BPhQ" style="width: 100%; aspect-ratio: 16 / 9;"></iframe>
        </div>
    </div>
</div>

<div class="modal fade registration-login-form-container" tabindex="-1" role="dialog" aria-labelledby="registration-login-form-container" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <svg class="landing-ur-input-border position-absolute d-block"><clipPath id="input-bg" clipPathUnits="objectBoundingBox"><path transform="scale(0.000456 0.0037)" d="M2190.53 279.561H.885V1.776l477.941 4.479 16.735 6.179-2.662-7.222 501.306-2.846-2.075 11.631L1002.34.562l75.19 3.024 4.79 15.625 3.56-17.435 477.95 4.479 16.73 6.179-2.66-7.222 501.3-2.846-2.07 11.631L2087.34.562l103.19 3.024v275.975Z"></path></clipPath></svg>
        
            <ul class="nav nav-tabs block-secondary flex-column flex-md-row text-center mb-4 rounded-nav" role="tablist">
                <li class="nav-item flex-sm-fill">
                    <a href="#register" class="nav-link fs-5 active" data-bs-toggle="tab">
                        Register</span>
                    </a>
                </li>

                <li class="nav-item flex-sm-fill text-center">
                    <a href="#login" class="nav-link fs-5" data-bs-toggle="tab">
                        Login</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="register">
                    <div class="alert alert-danger d-none" role="alert">
                        <h4><i class="fas fa-exclamation-triangle"></i> Error</h4>

                                        </div>

                    <form class="js-account-form" action="/ajax/player/account/" method="POST" role="form">
                        <input type="hidden" name="csrf-token" value="258b199fcffa75b4819eec1d407a49528600ece39159313ef52fcc96cbb32ec3">
                        <input type="hidden" name="action" value="signup">
                        <input type="text" name="name" value="">
                        <input type="hidden" name="login" value="Leader1691012997">
                        <input type="hidden" name="timezone" value="server">
                        <input type="hidden" name="country" value="us">
                        <input type="hidden" name="landing_url" value="/signup/">

                        <div class="form-group mb-2">
                            <label class="lead fw-bold">Email :</label>
                            <div class="ur-landing-input">
                                <input type="email" name="email" required>
                            </div>
                        </div>

                        <div class="form-group mb-2">
                            <label class="lead fw-bold">Password :</label>
                            <div class="ur-landing-input">
                                <input type="password" name="password" required>
                            </div>
                        </div>

                        <div class="form-check form-switch mb-1">
                            <input class="form-check-input" type="checkbox" name="cgv" required="required">
                            <label class="form-check-label">I accept the <a href="/cgv.php" target="_blank">Terms and Conditions of use</a></label>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="privacy_policy" required="required">
                            <label class="form-check-label">I accept the <a href="/privacy_policy.php" target="_blank">Privacy Policy</a></label>
                        </div>

                        <div class="landing-ur-play-now position-relative my-3">
                            <button type="submit" class="btn mx-auto">
                                <span class="btn-inner">
                                    <span class="btn-text fs-4 mb-0">Play</span>
                                    <span class="btn-bg"></span>
                                </span>
                            </button>
                        </div>
                    </form>

                    <div class="text-divider text-center my-3"><span class="position-relative">or</span></div>

                    <div class="d-flex align-items-center justify-content-around">
                        <div><a class="btn btn-fb d-flex align-items-center justify-content-center" href="https://www.facebook.com/v5.0/dialog/oauth?client_id=2167113490252399&redirect_uri=https%3A%2F%2Fwww.urban-rivals.com%2Fexternals%2Ffbconnect%2F&scope=email&state=668251ZUR2WjBxVEYzZzg9" role="button"><i class="fab fa-facebook-f"></i></a></div>
                        <div><div id="g_id_onload" data-client_id="141940510103-8u7frhsi74c5sa3quvab4pjusldq04e6.apps.googleusercontent.com" data-login_uri="https://www.urban-rivals.com/externals/googlesignin/index.php" data-auto_prompt="false"></div><div class="g_id_signin" data-type="icon" data-size="large" data-theme="outline" data-text="sign_in_with" data-shape="square" data-logo_alignment="left"></div></div>
                    </div>
                </div>

                <div class="tab-pane" id="login">
                    <div class="alert alert-danger d-none" role="alert">
                        <h4><i class="fas fa-exclamation-triangle"></i> Error</h4>

                    
                                        </div>

                    <form class="js-account-form" action="/ajax/player/account/" method="POST" role="form">
                        <input type="hidden" name="csrf-token" value="258b199fcffa75b4819eec1d407a49528600ece39159313ef52fcc96cbb32ec3">
                        <input type="hidden" name="action" value="signin">
                        <input type="hidden" name="fp" value=>

                        <div class="form-group mb-2">
                            <label class="lead fw-bold">Username / email :</label>
                            <div class="ur-landing-input">
                                <input type="text" name="login" required>
                            </div>
                        </div>

                        <div class="form-group mb-2">
                            <label class="lead fw-bold">Password :</label>
                            <div class="ur-landing-input">
                                <input type="password" name="password" required>
                            </div>
                        </div>

                        <p class="m-0">
                            <a class="js-request-password" href="#">Forgotten password?</a><br>
                        </p>

                        <div class="landing-ur-play-now position-relative my-3">
                            <button type="submit" class="btn mx-auto">
                                <span class="btn-inner">
                                    <span class="btn-text h4 mb-0">Play now</span>
                                    <span class="btn-bg"></span>
                                </span>
                            </button>
                        </div>
                    </form>

                    <div class="text-divider text-center my-3"><span class="position-relative">or</span></div>

                    <div class="d-flex align-items-center justify-content-around">
                        <div><a class="btn btn-fb d-flex align-items-center justify-content-center" href="https://www.facebook.com/v5.0/dialog/oauth?client_id=2167113490252399&redirect_uri=https%3A%2F%2Fwww.urban-rivals.com%2Fexternals%2Ffbconnect%2F&scope=email&state=668251ZUR2WjBxVEYzZzg9" role="button"><i class="fab fa-facebook-f"></i></a></div>
                        <div><div id="g_id_onload" data-client_id="141940510103-8u7frhsi74c5sa3quvab4pjusldq04e6.apps.googleusercontent.com" data-login_uri="https://www.urban-rivals.com/externals/googlesignin/index.php" data-auto_prompt="false"></div><div class="g_id_signin" data-type="icon" data-size="large" data-theme="outline" data-text="sign_in_with" data-shape="square" data-logo_alignment="left"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-xl fixed-top navbar-dark p-0">
    <div class="landing-ur-logo-container d-none d-lg-block position-relative">
        <a href="/" class="navbar-brand">
            <picture class="landing-ur-logo-wrapper ms-4 d-block">
                <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/urban-rivals-logo.png" alt="Urban Rivals Logo">
            </picture>
        </a>
    </div>

    <div id="navbar-menu" class="d-none d-xl-flex">
        <ul class="landing-ur-links navbar-nav ms-auto">
            <li class="nav-item"><a href="#top" class="nav-link fs-5 mb-0 mx-2 px-2">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link fs-5 mb-0 mx-2 px-2">Game</a></li>
            <li class="nav-item"><a href="#factions" class="nav-link fs-5 mb-0 mx-2 px-2">Factions</a></li>
            <li class="nav-item">
                <a href="#world" class="nav-link fs-5 mb-0 mx-2 px-2">Community</a>
            </li>
        </ul>

        <ul class="landing-ur-socials navbar-nav">
            <li class="nav-item ms-3 me-5">
                <a href="https://discord.gg/CryCgjWjnb" class="nav-link fs-5 font-ur text-discord mb-0 p-0" target="_blank">
                    <i class="fab fa-discord fs-3 text-discord"></i><span class="ms-2 text-discord">Discord</span>
                </a>
            </li>
        </ul>

        <div class="landing-ur-play-now position-relative mt-1 ms-3 me-5">
            <a href="" class="btn" data-bs-toggle="modal" data-bs-target=".registration-login-form-container" role="button">
                <span class="btn-inner">
                    <span class="btn-text fs-4 mb-0">Play</span>
                    <span class="btn-bg"></span>
                </span>
            </a>
            <div class="landing-ur-wires">
                <img src="https://s.acdn.ur-img.com/img/v3/landingv4/blue-wire.png" alt="blue wire graphic" id="blue-wire-1" class="position-absolute">
                <img src="https://s.acdn.ur-img.com/img/v3/landingv4/blue-wire-2.png" alt="blue wire graphic 2" id="blue-wire-2" class="position-absolute">
                <img src="https://s.acdn.ur-img.com/img/v3/landingv4/blue-wire-2.png" alt="blue wire graphic 3" id="blue-wire-3" class="position-absolute">
                <img src="https://s.acdn.ur-img.com/img/v3/landingv4/red-wire.png" alt="red wire graphic" id="red-wire-1" class="position-absolute">
                <img src="https://s.acdn.ur-img.com/img/v3/landingv4/red-wire-2.png" alt="red wire graphic 2" id="red-wire-2" class="position-absolute">
            </div>
        </div>
    </div>

    <div class="collapse position-fixed w-100 h-100 mt-0 text-uppercase flex-column align-items-center justify-content-center" id="navbar-menu-responsive">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <ul class="navbar-nav align-items-center justify-content-center">
                <li class="nav-item"><a href="/#top" class="nav-link fs-4 mb-0 mx-2 px-2">Home</a></li>
                <li class="nav-item"><a href="/#about" class="nav-link fs-4 mb-0 mx-2 px-2">About</a></li>
                <li class="nav-item"><a href="/#factions" class="nav-link fs-4 mb-0 mx-2 px-2">Factions</a></li>
                <li class="nav-item"><a href="/#world" class="nav-link fs-4 mb-0 mx-2 px-2">World</a></li>
                <li class="nav-item">
                    <a href="https://discord.gg/CryCgjWjnb" class="nav-link fs-4 font-ur text-discord mb-0 mx-2 px-2" target="_blank">
                        <i class="fab fa-discord fs-3 text-discord"></i><span class="ms-2 text-discord">Discord</span>
                    </a>
                </li>
            </ul>

            <div class="landing-ur-play-now position-relative mt-3">
                <a href="" class="btn" data-bs-toggle="modal" data-bs-target=".registration-login-form-container" role="button">
                    <span class="btn-inner">
                        <span class="btn-text fs-4 mb-0">Play</span>
                        <span class="btn-bg"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <button class="navbar-toggler collapsed ms-auto position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu-responsive" aria-controls="navbar-menu-responsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fal fa-bars fa-xl m-0 py-4 px-3"></i>
    </button>
</nav>

<div class="landing-ur-wrapper">
    <section class="section-hero d-flex align-items-center justify-content-center position-relative overflow-hidden">
        <div class="section-bg position-absolute parallax" data-offset="50"></div>

        <div class="section-graphics d-none d-sm-block position-absolute">
            <div id="character-4" class="position-absolute parallax" data-offset="35">
                <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/calque.png" alt="Character 4 graphic" width="800">
            </div>
            <div id="character-3" class="position-absolute parallax" data-offset="25">
                <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/montana-mr-white.png" alt="Character 3 graphic" width="800">
            </div>
            <div id="character-2" class="position-absolute parallax" data-offset="25">
                <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/pecheuse.png" alt="Character 2 graphic" width="900">
            </div>
            <div id="character-1" class="position-absolute parallax" data-offset="15">
                <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/oculus-scarlet-3.png" alt="Character 1 graphic" width="750">
            </div>
        </div>

        <div class="position-relative d-flex flex-column align-items-center justify-content-center">
            <picture class="landing-ur-logo-large-wrapper d-block position-relative mb-5">
                <img class="img-fluid d-block" src="https://s.acdn.ur-img.com/img/v3/landingv4/urban-rivals-logo.png" alt="Urban Rivals World logo" width="1000">
            </picture>

            <a href="" class="ur-big-graphic-btn d-flex justify-content-center align-items-center mb-5" data-bs-toggle="modal" data-bs-target=".gameplay-trailer-modal" role="button">
                <i class="fas fa-play"></i>

                <div class="ur-graphic-button-text-container">
                    <svg viewBox="0 0 200 200">
                        <path id="curve" transform="rotate(-34.8792, 102.602, 153.11)" d="m49.94642,114.81014c0,0 13.8114,92.27426 105.31191,74.26952" />
                    </svg>
                </div>
            </a>

            <ul class="list-unstyled d-flex flex-column flex-lg-row position-relative z-index-1">
                <li class="list-inline-item mx-2">
                    <a class="fs-1 mb-0 p-0 text-black js-download" target="_blank" title="Click to download and play Urban Rivals on Windows" href="https://s.acdn.ur-img.com/downloads/desktop/UrbanRivals_Setup_1.15.2.exe" data-appplatform="pc" download="UrbanRivals_Setup_1.15.2.exe">
                        <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-windows.png" alt="UR on Windows">
                    </a>
                </li>
                <li class="list-inline-item mx-2">
                    <a class="fs-1 mb-0 p-0 text-black" target="_blank" href="http://store.steampowered.com/app/715310/Urban_Rivals/">
                        <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-steam.png" alt="Available on Steam" title="Available on Steam">
                    </a>
                </li>
                <li class="list-inline-item mx-2">
                    <a class="fs-1 mb-0 p-0 text-black" target="_blank" href="/game/play/">
                        <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-webgl.png" alt="Play through browser" title="Play through browser">
                    </a>
                </li>
                <li class="list-inline-item mx-2">
                    <a class="fs-1 mb-0 p-0 text-black" target="_blank" href="https://apps.apple.com/fr/app/urban-rivals/id329963928">
                        <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-applestore.png" alt="App Store">
                    </a>
                </li>
                <li class="list-inline-item mx-2">
                    <a class="fs-1 mb-0 p-0 text-black" target="_blank" href="https://play.google.com/store/apps/details?id=air.com.boostr.Air">
                        <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-googleplay.png" alt="Google Play">
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section id="about" class="section-feature-cards position-relative">
        <div class="section-bg position-absolute"></div>

        <div class="feature-cards-container position-relative">
            <div class="row">
                <div class="col-md-6 col-xl-4 mb-5">
                    <article class="d-flex flex-column align-items-center justify-content-top h-100 position-relative">
                        <div class="graphic glow-orange position-relative">
                            <img class="img-fluid position-relative" src="https://s.acdn.ur-img.com/img/v3/landingv4/fight.png" alt="Fight graphic">
                        </div>

                        <h1 class="text-white text-uppercase m-0">Fight</h1>

                        <p class="text-center mb-0">It's astonishingly simple: all you need to do is multiply the power of your cards with PILLZ! Building upon this solid foundation, you must create the most strategic deck to triumph over your opponents in no less than 6 diverse game modes, all while strictly adhering to a maximum duration of 4 minutes per match! Whether it's in AI modes, Free Mode, competitive modes with varying difficulty levels, or the solo mode with alternative gameplay mechanics, Urban Rivals immerses you in an explosive and profound gameplay experience, plunging you into this unique universe.</p>
                    </article>
                </div>

                <div class="col-md-6 col-xl-4 mb-5">
                    <article class="d-flex flex-column align-items-center justify-content-top h-100 position-relative">
                        <div class="graphic glow-secondary position-relative">
                            <img class="img-fluid position-relative" src="https://s.acdn.ur-img.com/img/v3/landingv4/evolve.png" alt="Evolve graphic">
                        </div>

                        <h1 class="text-white text-uppercase m-0">Evolve</h1>

                        <p class="text-center mb-0">Urban Rivals offers you over 2500 characters, each with their own evolutions. You are not limited to enhancing the power and damage of a card alone; you can also evolve its artwork! By playing, you'll have the opportunity to accumulate XP, an essential resource for advancing your characters and making them even more powerful. Evolving your cards is an essential step, but you'll also need to evolve your player level by exploring the different game modes, allowing you to unlock special rewards at each milestone.</p>
                    </article>
                </div>

                <div class="col-md-6 col-xl-4 mb-5">
                    <article class="d-flex flex-column align-items-center justify-content-top h-100 position-relative">
                        <div class="graphic glow-orange position-relative">
                            <img class="img-fluid position-relative" src="https://s.acdn.ur-img.com/img/v3/landingv4/packs.png" alt="Collect graphic">
                        </div>

                        <h1 class="text-white text-uppercase m-0">Collect</h1>

                        <p class="text-center mb-0">Urban Rivals is more than just a collectible card game; it stands out with its variety of gameplay and artistic direction. With its 34 clans and over 2500 artworks illustrated by artists with distinct styles, Urban Rivals visually sets itself apart from its competitors. Discovering new cards is an addictive visual experience that is one of the game's pillars, whether through pack acquisition or trading on the Market.<br />
Regardless of your preferences and playstyle, Urban Rivals has something to fulfill the expectations of all players, offering an unparalleled collectible card game experience.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section id="factions" class="section-factions-slider position-relative">
        <div class="container container-xl">
            <div class="row">
                <div class="landing-ur-slider-left col-lg-5 col-xl-3 title-col ps-lg-0 pe-lg-4 h-100 position-relative">
                    <h1 class="text-white text-uppercase m-0">Combine your clans</h1>

                    <p class="mt-3 mt-lg-5 mb-0">Urban Rivals World is composed of two separate gameplays: a "roguelike" solo game and the Pillz Multiplayer mode.<br>In both sections, you will have to fight, collect the cards, evolve it. It’s up to you to choose which side you lean the most, but one thing is certain: the strategy and the characters will dive you into an unusual universe and into a trading card game with almost infinite possibilities!</p>
                </div>

                <div class="landing-ur-slider-right col-lg-7 col-xl-9 ps-xl-5 pe-xl-0 position-relative">
                    <div class="faction-slides w-100 h-100 position-relative">
                        <div>
                            <article class="position-relative row g-0 pe-4">
                                <div class="slide-content col-lg-6 col-xl-4 position-relative">
                                    <h2 class="text-uppercase m-0">Faction:</h2>

                                    <h1 class="text-white text-uppercase m-0">Guardians</h1>

                                    <p class="mt-4 mb-0">The SENTINEL forces of law and order, the ALL STARS' athletes, the HURACAN luchadores, the RESCUE medical staff, the FANG PI CLANG martial art specialists and the LA JUNTA soldiers are the muscle defending the city!</p>
                                </div>

                                <div class="slide-image col-lg-6 col-xl-8 position-absolute">
                                    <div class="slide-bg position-absolute w-100 h-100"></div>

                                    <div class="slide-graphic position-relative">
                                        <picture class="graphic">
                                            <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/guardians.png" alt="Guardians graphic" width="460" height="1000">
                                        </picture>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div>
                            <article class="position-relative row g-0 pe-4">
                                <div class="slide-content col-lg-6 col-xl-4 position-relative">
                                    <h2 class="text-uppercase m-0">Faction:</h2>

                                    <h1 class="text-white text-uppercase m-0">Urbans</h1>

                                    <p class="mt-4 mb-0">Clint City culture comes from the streets - from the super rich UPPERS' downtown, the BANGERS' working-class neighborhoods, the JUNKZ's more radical areas, the dark alleys of the MONTANA mafia and the PUSSYCATS' nightclubs!</p>
                                </div>

                                <div class="slide-image col-lg-6 col-xl-8 position-absolute">
                                    <div class="slide-bg position-absolute w-100 h-100"></div>

                                    <div class="slide-graphic position-relative">
                                        <picture class="graphic">
                                            <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/urbans.png" alt="Urbans graphic" width="460" height="1000">
                                        </picture>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div>
                            <article class="position-relative row g-0 pe-4">
                                <div class="slide-content col-lg-6 col-xl-4 position-relative">
                                    <h2 class="text-uppercase m-0">Faction:</h2>

                                    <h1 class="text-white text-uppercase m-0">Activists</h1>

                                    <p class="mt-4 mb-0">Five clans battle together to protect nature - at sea for the ULU WATU, in the forest for the ROOTS, on the islands for the KOMBOKA, in the mountains for the FROZN and in the zoo for the JUNGO!</p>
                                </div>

                                <div class="slide-image col-lg-6 col-xl-8 position-absolute">
                                    <div class="slide-bg position-absolute w-100 h-100"></div>

                                    <div class="slide-graphic position-relative">
                                        <picture class="graphic">
                                            <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/activists.png" alt="Activists graphic" width="460" height="1000">
                                        </picture>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div>
                            <article class="position-relative row g-0 pe-4">
                                <div class="slide-content col-lg-6 col-xl-4 position-relative">
                                    <h2 class="text-uppercase m-0">Faction:</h2>

                                    <h1 class="text-white text-uppercase m-0">Psychos</h1>

                                    <p class="mt-4 mb-0">The city also has some unusual places, some of which are not at all recommendable. From the furious motel BERZERK, to the post-apocalyptic desert RAPTORS, and the pirate ship PIRANAS, to the asylum of mad artists PARADOX, the unhealthy circus of FREAKS, and the space farmers COSMOHNUT, it seems that everyone here has completely lost their mind!</p>
                                </div>

                                <div class="slide-image col-lg-6 col-xl-8 position-absolute">
                                    <div class="slide-bg position-absolute w-100 h-100"></div>

                                    <div class="slide-graphic position-relative">
                                        <picture class="graphic">
                                            <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/psychos.png" alt="Psychos graphic" width="460" height="1000">
                                        </picture>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div>
                            <article class="position-relative row g-0 pe-4">
                                <div class="slide-content col-lg-6 col-xl-4 position-relative">
                                    <h2 class="text-uppercase m-0">Faction:</h2>

                                    <h1 class="text-white text-uppercase m-0">Supernaturals</h1>

                                    <p class="mt-4 mb-0">The cursed DOMINION toys, the students of the SKEELZ academy, the goths from the NIGHTMARE manor, the phantom GHOSTOWN cowboys and the OBLIVION shape-shifters all have supernatural powers!</p>
                                </div>

                                <div class="slide-image col-lg-6 col-xl-8 position-absolute">
                                    <div class="slide-bg position-absolute w-100 h-100"></div>

                                    <div class="slide-graphic position-relative">
                                        <picture class="graphic">
                                            <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/supernaturals.png" alt="Supernaturals graphic" width="460" height="1000">
                                        </picture>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div>
                            <article class="position-relative row g-0 pe-4">
                                <div class="slide-content col-lg-6 col-xl-4 position-relative">
                                    <h2 class="text-uppercase m-0">Faction:</h2>

                                    <h1 class="text-white text-uppercase m-0">Technophiles</h1>

                                    <p class="mt-4 mb-0">Very dangerous, futurist technology is in the hands of the HIVE rebel warriors, their VORTEX nemesis, the SAKROHM alien sect, the RIOTS' steampunks and the GHEIST'S evil scientists.</p>
                                </div>

                                <div class="slide-image col-lg-6 col-xl-8 position-absolute">
                                    <div class="slide-bg position-absolute w-100 h-100"></div>

                                    <div class="slide-graphic position-relative">
                                        <picture class="graphic">
                                            <img class="img-fluid" src="https://s.acdn.ur-img.com/img/v3/landingv4/technophiles.png" alt="Technophiles graphic" width="460" height="1000">
                                        </picture>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="d-flex slider-buttons justify-content-center ps-2 ps-lg-5 position-absolute">
                        <button class="slider-button text-white position-relative d-flex align-items-center justify-content-center slider-previous">
                            <i class="fas fa-caret-left"></i>
                        </button>

                        <div class="slider-dots d-flex align-items-center justify-content-center mx-4">
                            <button class="dot position-relative active"></button>
                            <button class="dot position-relative"></button>
                            <button class="dot position-relative"></button>
                            <button class="dot position-relative"></button>
                            <button class="dot position-relative"></button>
                            <button class="dot position-relative"></button>
                        </div>

                        <button class="slider-button text-white position-relative d-flex align-items-center justify-content-center slider-next">
                            <i class="fas fa-caret-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="world" class="section-world d-flex flex-column align-items-center justify-content-center position-relative">
        <div class="section-bg position-absolute w-100"></div>
        <div class="section-glows position-absolute w-100 h-100"></div>
        <div class="landing-ur-kate w-100 h-100 position-absolute"></div>

        <h1 class="text-uppercase text-center position-relative mx-auto mt-5 mb-3">Start your game</h1>

        <ul class="list-unstyled d-flex flex-column flex-lg-row mb-5 pb-5 position-relative">
            <li class="list-inline-item mx-2">
                <a class="fs-1 mb-0 p-0 text-black js-download" target="_blank" title="Click to download and play Urban Rivals on Windows" href="https://s.acdn.ur-img.com/downloads/desktop/UrbanRivals_Setup_1.15.2.exe" data-appplatform="pc" download="UrbanRivals_Setup_1.15.2.exe">
                    <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-windows.png" alt="UR on Windows">
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="fs-1 mb-0 p-0 text-black" target="_blank" href="http://store.steampowered.com/app/715310/Urban_Rivals/">
                    <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-steam.png" alt="Available on Steam" title="Available on Steam">
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="fs-1 mb-0 p-0 text-black" target="_blank" href="/game/play/">
                    <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-webgl.png" alt="Play through browser" title="Play through browser">
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="fs-1 mb-0 p-0 text-black" target="_blank" href="https://apps.apple.com/fr/app/urban-rivals/id329963928">
                    <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-applestore.png" alt="App Store">
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="fs-1 mb-0 p-0 text-black" target="_blank" href="https://play.google.com/store/apps/details?id=air.com.boostr.Air">
                    <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-googleplay.png" alt="Google Play">
                </a>
            </li>
        </ul>

        <h1 class="text-uppercase text-center position-relative mx-auto mt-5 mb-3">Join the community</h1>

        <ul class="list-unstyled d-flex mb-5 pb-5 position-relative">
            <li class="list-inline-item">
                <a href="https://discord.gg/CryCgjWjnb" class="fs-1 text-discord mb-0 p-0" target="_blank">
                    <img class="home-pic-button" style="max-width: 200px;" src="https://s.acdn.ur-img.com/img/v3/home/logo-discord.png" alt="Discord">
                </a>
            </li>
        </ul>
    </section>
</div>

<footer class="ur-footer position-relative">
    <svg class="ur-footer-border position-absolute d-block"><clipPath id="ur-footer-bg" clipPathUnits="objectBoundingBox"><path transform="scale(0.000456 0.0037)" d="M2190.53 279.561H.885V1.776l477.941 4.479 16.735 6.179-2.662-7.222 501.306-2.846-2.075 11.631L1002.34.562l75.19 3.024 4.79 15.625 3.56-17.435 477.95 4.479 16.73 6.179-2.66-7.222 501.3-2.846-2.07 11.631L2087.34.562l103.19 3.024v275.975Z"></path></clipPath></svg>

    <div class="footer-row position-relative">
        <div class="footer-row-bg bg-footer-primary"></div>

        <a href="https://www.acute-games.com/" target="_blank" class="ur-footer-logo position-relative d-block mx-auto">
            <img src="https://s.acdn.ur-img.com/img/v3/landingv4/acute-games-bordered.png" alt="Acute Games logo" width="286" height="171">
        </a>

        <div class="mt-4 d-flex flex-column flex-sm-row align-items-center justify-content-center">
            <div class="w-100 mb-4 mb-sm-0">
                <ul class="list-unstyled d-flex mb-0 me-2 pe-0 pe-sm-5 position-relative">
                    <li class="list-inline-item ms-auto">
                        <a href="https://discord.gg/CryCgjWjnb" class="nav-link fs-1 mb-0 p-0" target="_blank">
                            <i class="fab fa-discord"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a href="https://twitter.com/acute_games" class="nav-link fs-1 mb-0 p-0" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a href="https://www.instagram.com/acutegames/" class="nav-link fs-1 mb-0 p-0" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a href="https://youtube.com/@acutegames" class="nav-link fs-1 mb-0 p-0" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="list-inline-item ms-2 me-auto me-sm-0">
                        <a href="https://www.facebook.com/acutegamesoffice" class="nav-link fs-1 mb-0 p-0" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-100">
                <ul class="list-unstyled d-flex me-2 mb-0 ps-0 ps-sm-5 position-relative">
                    <li class="list-inline-item ms-auto ms-sm-0">
                        <a class="nav-link fs-1 mb-0 p-0 js-download" target="_blank" title="Click to download and play Urban Rivals on Windows" href="https://s.acdn.ur-img.com/downloads/desktop/UrbanRivals_Setup_1.15.2.exe" data-appplatform="pc" download="UrbanRivals_Setup_1.15.2.exe">
                            <i class="fab fa-windows"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="nav-link fs-1 mb-0 p-0" target="_blank" href="http://store.steampowered.com/app/715310/Urban_Rivals/">
                            <i class="fab fa-steam"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="nav-link fs-1 mb-0 p-0" target="_blank" href="https://apps.apple.com/fr/app/urban-rivals/id329963928">
                            <i class="fab fa-app-store"></i>
                        </a>
                    </li>
                    <li class="list-inline-item ms-2 me-auto">
                        <a class="nav-link fs-1 mb-0 p-0" target="_blank" href="https://play.google.com/store/apps/details?id=air.com.boostr.Air">
                            <i class="fab fa-google-play"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-row position-relative">
        <div class="footer-row-bg bg-footer-secondary"></div>

        <div class="container position-relative">
            <div class="mx-auto my-auto d-flex flex-column flex-lg-row align-items-center justify-content-center">
                <p class="text-center m-0">© <a href="https://www.acute-games.com/" target="_blank">Acute Games, Inc</a>. All rights reserved</p>
                <p class="mx-1 my-0 d-none d-lg-block">|</p>
                <p class="m-0"><a href="" class="js-view-contact-form" data-bs-toggle="modal" data-bs-target="#contactModal" target="_blank">Contact us</a></p>
                <p class="mx-1 my-0 d-none d-lg-block">-</p>
                <p class="m-0"><a href="/cgv.php" target="_blank">Terms and Conditions of use</a></p>
                <p class="mx-1 my-0 d-none d-lg-block">-</p>
                <p class="m-0"><a href="/privacy_policy.php" target="_blank">Privacy Policy</a></p>
            </div>
            <p class="text-center m-0">PEGI 12</p>
        </div>
    </div>
</footer>
</div>

<script type="text/javascript">
    var loginErros = false;
</script>

        <script src="https://s.acdn.ur-img.com/min/js/strings_en.min.js?v=1688543225" type="text/javascript"></script><script src="https://s.acdn.ur-img.com/min/js/landingv4.min.js?v=1684315282" type="text/javascript"></script><script src="https://s.acdn.ur-img.com/min/js/menu-offline.min.js?v=1688366209" type="text/javascript"></script><script src="https://s.acdn.ur-img.com/js/components/slick-carousel/slick/slick.min.js?v=1688366209" type="text/javascript"></script><div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;"></div>

<script type="text/template" class="js-template-urnotify">
    <div id="<%= data.URNotify.id %>" class="toast align-items-center bg-<%= data.URNotify.type %> text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body"><%= data.URNotify.text %></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
    </div>
</script>
    </body>
</html>
