/* Color Theme Swatches in Hex */
$background-light: #f2f2eb;
$light: #f2f2eb;
$medium-light: #bfbfba;
$medium: #737372;
$medium-dark: #404040;
$background-dark: #262626;
$dark: #262626;

* {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $light;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

body {
  all: unset;
  display: block;
  position: static;
  min-height: 100vh;
  background-image: url("./Img/background.png");
  background-size: auto 30rem;
  background-repeat: repeat;
  background-color: $background-dark;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &[data-theme="dark"] {
    header,
    main {
      background-color: rgb(191,191,186);
      color: rgb(38,38,38);
    }
    p,
    footer {
      color: rgb(38,38,38)
    }
  }
  &[data-theme="light"] {
    header,
    main {
      background-color: $background-dark;
      color: rgb(191,191,186);
    }
    p,
    footer {
      color: #f2f2eb
    }
  }
  h1,
  h2,
  h3,
  a {
    color: #e85328;
  }
}

header {
  background-color: inherit;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 30;
  border-bottom: 1px solid $dark;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0 3rem;
    div,
    a {
      height: 2rem;
      font-size: 1.5rem;
    }
    div img {
      height: 100%;
    }
  }
  #toggle-light:hover {
    cursor: pointer;
  }
}

section#top {
  /* border-bottom: 1px solid $dark;
  height: 26rem; */
  /* position: sticky; */
  /* top: -16rem; */
  padding-top: 4rem;
  /* z-index: 20;
  min-width: 550px; */
  h1 {
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    opacity: 0.9;
    min-width: 500px;
    font-family: "Titillium Web", sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 4rem;
    top: 4rem;
    height: 7.9rem;
    span {
      color: inherit;
      text-align: inherit;
      display: block;

      font-weight: 600;
      font-size: 2rem;
    }
  }
}

main {
  min-height: 100vh;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5em;
  }
  h2,
  h3 {
    margin: 6rem 0 0.5rem 0;
  }
  .icon {
    float: left;
    cursor: pointer;
    z-index: 10;
    height: 4rem;
  }
  h2,
  p,
  div {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

img#headshot {
  border-radius: 15%;
  justify-self: right;
  height: 10rem;
  width: auto;
  z-index: 10;
  margin: 2rem auto;
  margin-bottom: 0;
}

p {
  z-index: 20;
  font-size: 1em;
  color: inherit;
}

div#project-menu {
  padding-top: 1rem;
  display: inline-flexbox;

  button {
    border: 2px solid $background-light;
    background-color: $background-dark;
    color: $light;
  }
  button:hover {
    cursor: pointer;
  }
}

.projects {
  display: flex;
  justify-content: center;
  div {
    display: none;
  }
  .active {
    display: block;
    margin: 1em;
    padding-bottom: 0;
    min-width: 10rem;
  }
  img {
    border-radius: 15%;
    width: 50%;
  }
}

.icons {
  display: flexbox;
  flex-direction: row;
  justify-content: space space-between;
  img {
    height: 3rem;
    margin: 2rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  input,
  textarea,
  button {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  button {
    color: $medium;
    width: 4rem;
  }
}

footer {
  padding: 4rem;
}

@media only screen and (max-width: 550px) {
  header {
    width: 100%;
  }
  h1 {
    padding: 0;
    padding-top: 1rem;
    width: 100%;
    font-size: 3rem;
    margin-right: auto;
  }

  h1 span {
    font-size: 2rem;
  }

  .projects div {
    width: 90%;
  }
  .icon {
    padding-left: 0;
  }

  #contact-link {
    padding-right: 1rem;
  }
  .projects {
    flex-direction: column;
    width: 100%;
    justify-items: center;
  }
  .project {
    width: 100%;
    min-width: 550px;
    flex-direction: column;
    font-size: 1.5rem;
  }
}
